* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #222;
}

body .card {
  width: 800px;
  height: 500px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(210deg, #30306d, #434396);
  position: relative;
  overflow: hidden;
}

body .card .title {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 70px;
  font-family: 'Courier New', Courier, monospace;
  color: #60ffff;
}

body .card .moon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -webkit-box-shadow: 15px 15px 2px 1px #b0d800;
          box-shadow: 15px 15px 2px 1px #b0d800;
  position: absolute;
  top: 0%;
  left: 10%;
}

@-webkit-keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(59px, 400px);
            transform: translate(59px, 400px);
    opacity: 0;
  }
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(59px, 400px);
            transform: translate(59px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(1) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 45%;
  background-color: #181ca6;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  -webkit-animation: go 5s linear 4s infinite;
          animation: go 5s linear 4s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(129px, 400px);
            transform: translate(129px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(2) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 59%;
  background-color: #83260f;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  -webkit-animation: go 9s linear 1s infinite;
          animation: go 9s linear 1s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(86px, 400px);
            transform: translate(86px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(3) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 84%;
  background-color: #dcafc5;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  -webkit-animation: go 8s linear 3s infinite;
          animation: go 8s linear 3s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(84px, 400px);
            transform: translate(84px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(4) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 52%;
  background-color: #2bb271;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  -webkit-animation: go 8s linear 3s infinite;
          animation: go 8s linear 3s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(37px, 400px);
            transform: translate(37px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(5) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 21%;
  background-color: #f5f7ba;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  -webkit-animation: go 8s linear 1s infinite;
          animation: go 8s linear 1s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(44px, 400px);
            transform: translate(44px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(6) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 52%;
  background-color: #83ef98;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  -webkit-animation: go 7s linear 5s infinite;
          animation: go 7s linear 5s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(22px, 400px);
            transform: translate(22px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(7) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 87%;
  background-color: #e05eb5;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -webkit-animation: go 9s linear 3s infinite;
          animation: go 9s linear 3s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(154px, 400px);
            transform: translate(154px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(8) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 40%;
  background-color: #b990ae;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  -webkit-animation: go 7s linear 5s infinite;
          animation: go 7s linear 5s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(132px, 400px);
            transform: translate(132px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(9) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 46%;
  background-color: #7b23ec;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  -webkit-animation: go 9s linear 2s infinite;
          animation: go 9s linear 2s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(181px, 400px);
            transform: translate(181px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(10) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 6%;
  background-color: #80c9b7;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  -webkit-animation: go 6s linear 4s infinite;
          animation: go 6s linear 4s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(29px, 400px);
            transform: translate(29px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(11) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 91%;
  background-color: #b04f2a;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -webkit-animation: go 8s linear 2s infinite;
          animation: go 8s linear 2s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(161px, 400px);
            transform: translate(161px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(12) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 16%;
  background-color: #43bff3;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  -webkit-animation: go 6s linear 2s infinite;
          animation: go 6s linear 2s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(102px, 400px);
            transform: translate(102px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(13) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 96%;
  background-color: #e49930;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  -webkit-animation: go 8s linear 5s infinite;
          animation: go 8s linear 5s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(32px, 400px);
            transform: translate(32px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(14) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 94%;
  background-color: #4851c0;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  -webkit-animation: go 8s linear 1s infinite;
          animation: go 8s linear 1s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(54px, 400px);
            transform: translate(54px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(15) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 55%;
  background-color: #69417f;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  -webkit-animation: go 5s linear 4s infinite;
          animation: go 5s linear 4s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(16px, 400px);
            transform: translate(16px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(16) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 62%;
  background-color: #a73587;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -webkit-animation: go 5s linear 5s infinite;
          animation: go 5s linear 5s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(121px, 400px);
            transform: translate(121px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(17) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 91%;
  background-color: #766770;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -webkit-animation: go 5s linear 1s infinite;
          animation: go 5s linear 1s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(54px, 400px);
            transform: translate(54px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(18) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 100%;
  background-color: #bf262d;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  -webkit-animation: go 9s linear 4s infinite;
          animation: go 9s linear 4s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(103px, 400px);
            transform: translate(103px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(19) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 53%;
  background-color: #2e0f23;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -webkit-animation: go 8s linear 5s infinite;
          animation: go 8s linear 5s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(159px, 400px);
            transform: translate(159px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(20) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 7%;
  background-color: #7c63e1;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -webkit-animation: go 9s linear 2s infinite;
          animation: go 9s linear 2s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(143px, 400px);
            transform: translate(143px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(21) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 22%;
  background-color: #d0db0b;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  -webkit-animation: go 5s linear 2s infinite;
          animation: go 5s linear 2s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(47px, 400px);
            transform: translate(47px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(22) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 50%;
  background-color: #643f1b;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  -webkit-animation: go 9s linear 2s infinite;
          animation: go 9s linear 2s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(107px, 400px);
            transform: translate(107px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(23) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 29%;
  background-color: #490ee5;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -webkit-animation: go 8s linear 3s infinite;
          animation: go 8s linear 3s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(91px, 400px);
            transform: translate(91px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(24) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 75%;
  background-color: #0dba42;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  -webkit-animation: go 9s linear 5s infinite;
          animation: go 9s linear 5s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(46px, 400px);
            transform: translate(46px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(25) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 22%;
  background-color: #d9498d;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -webkit-animation: go 6s linear 3s infinite;
          animation: go 6s linear 3s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(80px, 400px);
            transform: translate(80px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(26) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 74%;
  background-color: #029c40;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  -webkit-animation: go 6s linear 5s infinite;
          animation: go 6s linear 5s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(56px, 400px);
            transform: translate(56px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(27) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 19%;
  background-color: #aedad0;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  -webkit-animation: go 7s linear 5s infinite;
          animation: go 7s linear 5s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(94px, 400px);
            transform: translate(94px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(28) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 48%;
  background-color: #4d0228;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  -webkit-animation: go 5s linear 4s infinite;
          animation: go 5s linear 4s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(145px, 400px);
            transform: translate(145px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(29) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 53%;
  background-color: #62d382;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  -webkit-animation: go 9s linear 4s infinite;
          animation: go 9s linear 4s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(183px, 400px);
            transform: translate(183px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(30) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 43%;
  background-color: #c8fad2;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  -webkit-animation: go 8s linear 3s infinite;
          animation: go 8s linear 3s infinite;
}
/*# sourceMappingURL=stars.css.map */