* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  border-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #222;
}

body .container {
  width: 800px;
  height: 500px;
  border-radius: 20px;
  background: linear-gradient(100deg, #6c5f99, #5d69d6);
  position: relative;
  overflow: hidden;
}

body .container .title {
  font-size: 50px;
  font-family: 'Courier New', Courier, monospace;
  color: azure;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body .container .moon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -webkit-box-shadow: 15px 15px 1px 1px #c9e93b;
          box-shadow: 15px 15px 1px 1px #c9e93b;
  position: absolute;
  top: 5%;
  left: 5%;
}

@-webkit-keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(31px, 400px);
            transform: translate(31px, 400px);
  }
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(31px, 400px);
            transform: translate(31px, 400px);
  }
}

body .container .star:nth-child(1) {
  position: absolute;
  left: 461px;
  top: -10px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #a0634a;
  opacity: 0;
  -webkit-animation: gogo 16s ease 3s infinite;
          animation: gogo 16s ease 3s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(12px, 400px);
            transform: translate(12px, 400px);
  }
}

body .container .star:nth-child(2) {
  position: absolute;
  left: 15px;
  top: -10px;
  width: 4.5px;
  height: 4.5px;
  border-radius: 50%;
  background-color: #082386;
  opacity: 0;
  -webkit-animation: gogo 20s ease 1s infinite;
          animation: gogo 20s ease 1s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(193px, 400px);
            transform: translate(193px, 400px);
  }
}

body .container .star:nth-child(3) {
  position: absolute;
  left: 463px;
  top: -10px;
  width: 4.5px;
  height: 4.5px;
  border-radius: 50%;
  background-color: #f903c2;
  opacity: 0;
  -webkit-animation: gogo 8s ease 5s infinite;
          animation: gogo 8s ease 5s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(12px, 400px);
            transform: translate(12px, 400px);
  }
}

body .container .star:nth-child(4) {
  position: absolute;
  left: 160px;
  top: -10px;
  width: 1.5px;
  height: 1.5px;
  border-radius: 50%;
  background-color: #bb104e;
  opacity: 0;
  -webkit-animation: gogo 8s ease 2s infinite;
          animation: gogo 8s ease 2s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(102px, 400px);
            transform: translate(102px, 400px);
  }
}

body .container .star:nth-child(5) {
  position: absolute;
  left: 36px;
  top: -10px;
  width: 1.5px;
  height: 1.5px;
  border-radius: 50%;
  background-color: #0b4d99;
  opacity: 0;
  -webkit-animation: gogo 16s ease 2s infinite;
          animation: gogo 16s ease 2s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(84px, 400px);
            transform: translate(84px, 400px);
  }
}

body .container .star:nth-child(6) {
  position: absolute;
  left: 263px;
  top: -10px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #eac4a3;
  opacity: 0;
  -webkit-animation: gogo 16s ease 1s infinite;
          animation: gogo 16s ease 1s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(26px, 400px);
            transform: translate(26px, 400px);
  }
}

body .container .star:nth-child(7) {
  position: absolute;
  left: 52px;
  top: -10px;
  width: 4.5px;
  height: 4.5px;
  border-radius: 50%;
  background-color: #d87614;
  opacity: 0;
  -webkit-animation: gogo 12s ease 2s infinite;
          animation: gogo 12s ease 2s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(118px, 400px);
            transform: translate(118px, 400px);
  }
}

body .container .star:nth-child(8) {
  position: absolute;
  left: 161px;
  top: -10px;
  width: 4.5px;
  height: 4.5px;
  border-radius: 50%;
  background-color: #c871d0;
  opacity: 0;
  -webkit-animation: gogo 16s ease 2s infinite;
          animation: gogo 16s ease 2s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(17px, 400px);
            transform: translate(17px, 400px);
  }
}

body .container .star:nth-child(9) {
  position: absolute;
  left: 256px;
  top: -10px;
  width: 4.5px;
  height: 4.5px;
  border-radius: 50%;
  background-color: #4d5819;
  opacity: 0;
  -webkit-animation: gogo 8s ease 2s infinite;
          animation: gogo 8s ease 2s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(37px, 400px);
            transform: translate(37px, 400px);
  }
}

body .container .star:nth-child(10) {
  position: absolute;
  left: 260px;
  top: -10px;
  width: 1.5px;
  height: 1.5px;
  border-radius: 50%;
  background-color: #3280fc;
  opacity: 0;
  -webkit-animation: gogo 4s ease 4s infinite;
          animation: gogo 4s ease 4s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(68px, 400px);
            transform: translate(68px, 400px);
  }
}

body .container .star:nth-child(11) {
  position: absolute;
  left: 33px;
  top: -10px;
  width: 1.5px;
  height: 1.5px;
  border-radius: 50%;
  background-color: #d4baf0;
  opacity: 0;
  -webkit-animation: gogo 8s ease 3s infinite;
          animation: gogo 8s ease 3s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(115px, 400px);
            transform: translate(115px, 400px);
  }
}

body .container .star:nth-child(12) {
  position: absolute;
  left: 313px;
  top: -10px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #3c86ce;
  opacity: 0;
  -webkit-animation: gogo 4s ease 3s infinite;
          animation: gogo 4s ease 3s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(180px, 400px);
            transform: translate(180px, 400px);
  }
}

body .container .star:nth-child(13) {
  position: absolute;
  left: 371px;
  top: -10px;
  width: 4.5px;
  height: 4.5px;
  border-radius: 50%;
  background-color: #5fc768;
  opacity: 0;
  -webkit-animation: gogo 16s ease 2s infinite;
          animation: gogo 16s ease 2s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(46px, 400px);
            transform: translate(46px, 400px);
  }
}

body .container .star:nth-child(14) {
  position: absolute;
  left: 134px;
  top: -10px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #db47f5;
  opacity: 0;
  -webkit-animation: gogo 20s ease 5s infinite;
          animation: gogo 20s ease 5s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(18px, 400px);
            transform: translate(18px, 400px);
  }
}

body .container .star:nth-child(15) {
  position: absolute;
  left: 336px;
  top: -10px;
  width: 4.5px;
  height: 4.5px;
  border-radius: 50%;
  background-color: #e2b404;
  opacity: 0;
  -webkit-animation: gogo 8s ease 3s infinite;
          animation: gogo 8s ease 3s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(116px, 400px);
            transform: translate(116px, 400px);
  }
}

body .container .star:nth-child(16) {
  position: absolute;
  left: 295px;
  top: -10px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #5e1722;
  opacity: 0;
  -webkit-animation: gogo 12s ease 1s infinite;
          animation: gogo 12s ease 1s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(81px, 400px);
            transform: translate(81px, 400px);
  }
}

body .container .star:nth-child(17) {
  position: absolute;
  left: 390px;
  top: -10px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #9d64cc;
  opacity: 0;
  -webkit-animation: gogo 16s ease 3s infinite;
          animation: gogo 16s ease 3s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(112px, 400px);
            transform: translate(112px, 400px);
  }
}

body .container .star:nth-child(18) {
  position: absolute;
  left: 434px;
  top: -10px;
  width: 4.5px;
  height: 4.5px;
  border-radius: 50%;
  background-color: #3ac7c3;
  opacity: 0;
  -webkit-animation: gogo 8s ease 1s infinite;
          animation: gogo 8s ease 1s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(57px, 400px);
            transform: translate(57px, 400px);
  }
}

body .container .star:nth-child(19) {
  position: absolute;
  left: 406px;
  top: -10px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #2bf610;
  opacity: 0;
  -webkit-animation: gogo 16s ease 2s infinite;
          animation: gogo 16s ease 2s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(165px, 400px);
            transform: translate(165px, 400px);
  }
}

body .container .star:nth-child(20) {
  position: absolute;
  left: 386px;
  top: -10px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #79350f;
  opacity: 0;
  -webkit-animation: gogo 8s ease 3s infinite;
          animation: gogo 8s ease 3s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(20px, 400px);
            transform: translate(20px, 400px);
  }
}

body .container .star:nth-child(21) {
  position: absolute;
  left: 268px;
  top: -10px;
  width: 1.5px;
  height: 1.5px;
  border-radius: 50%;
  background-color: #4f3202;
  opacity: 0;
  -webkit-animation: gogo 8s ease 4s infinite;
          animation: gogo 8s ease 4s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(194px, 400px);
            transform: translate(194px, 400px);
  }
}

body .container .star:nth-child(22) {
  position: absolute;
  left: 79px;
  top: -10px;
  width: 1.5px;
  height: 1.5px;
  border-radius: 50%;
  background-color: #83472c;
  opacity: 0;
  -webkit-animation: gogo 20s ease 1s infinite;
          animation: gogo 20s ease 1s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(49px, 400px);
            transform: translate(49px, 400px);
  }
}

body .container .star:nth-child(23) {
  position: absolute;
  left: 177px;
  top: -10px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #248c35;
  opacity: 0;
  -webkit-animation: gogo 12s ease 1s infinite;
          animation: gogo 12s ease 1s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(176px, 400px);
            transform: translate(176px, 400px);
  }
}

body .container .star:nth-child(24) {
  position: absolute;
  left: 92px;
  top: -10px;
  width: 4.5px;
  height: 4.5px;
  border-radius: 50%;
  background-color: #10dc82;
  opacity: 0;
  -webkit-animation: gogo 12s ease 4s infinite;
          animation: gogo 12s ease 4s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(48px, 400px);
            transform: translate(48px, 400px);
  }
}

body .container .star:nth-child(25) {
  position: absolute;
  left: 250px;
  top: -10px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #211587;
  opacity: 0;
  -webkit-animation: gogo 12s ease 2s infinite;
          animation: gogo 12s ease 2s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(70px, 400px);
            transform: translate(70px, 400px);
  }
}

body .container .star:nth-child(26) {
  position: absolute;
  left: 293px;
  top: -10px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #124db0;
  opacity: 0;
  -webkit-animation: gogo 16s ease 2s infinite;
          animation: gogo 16s ease 2s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(55px, 400px);
            transform: translate(55px, 400px);
  }
}

body .container .star:nth-child(27) {
  position: absolute;
  left: 107px;
  top: -10px;
  width: 1.5px;
  height: 1.5px;
  border-radius: 50%;
  background-color: #852535;
  opacity: 0;
  -webkit-animation: gogo 20s ease 3s infinite;
          animation: gogo 20s ease 3s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(195px, 400px);
            transform: translate(195px, 400px);
  }
}

body .container .star:nth-child(28) {
  position: absolute;
  left: 169px;
  top: -10px;
  width: 1.5px;
  height: 1.5px;
  border-radius: 50%;
  background-color: #b0ff87;
  opacity: 0;
  -webkit-animation: gogo 12s ease 3s infinite;
          animation: gogo 12s ease 3s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(40px, 400px);
            transform: translate(40px, 400px);
  }
}

body .container .star:nth-child(29) {
  position: absolute;
  left: 134px;
  top: -10px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #b790f8;
  opacity: 0;
  -webkit-animation: gogo 4s ease 5s infinite;
          animation: gogo 4s ease 5s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(83px, 400px);
            transform: translate(83px, 400px);
  }
}

body .container .star:nth-child(30) {
  position: absolute;
  left: 54px;
  top: -10px;
  width: 4.5px;
  height: 4.5px;
  border-radius: 50%;
  background-color: #0c36d7;
  opacity: 0;
  -webkit-animation: gogo 12s ease 4s infinite;
          animation: gogo 12s ease 4s infinite;
}
/*# sourceMappingURL=stars-練習.css.map */