* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #222;
}

body .card {
  width: 800px;
  height: 500px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(210deg, #30306d, #434396);
  position: relative;
  overflow: hidden;
}

body .card .title {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 70px;
  font-family: 'Courier New', Courier, monospace;
  color: #60ffff;
}

body .card .moon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -webkit-box-shadow: 15px 15px 2px 1px #b0d800;
          box-shadow: 15px 15px 2px 1px #b0d800;
  position: absolute;
  top: 0%;
  left: 10%;
}

@-webkit-keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(12px, 400px);
            transform: translate(12px, 400px);
    opacity: 0;
  }
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(12px, 400px);
            transform: translate(12px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(1) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 22%;
  background-color: #de86ab;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -webkit-animation: go 9s linear 1s infinite;
          animation: go 9s linear 1s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(167px, 400px);
            transform: translate(167px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(2) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 41%;
  background-color: #5d9aec;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -webkit-animation: go 6s linear 3s infinite;
          animation: go 6s linear 3s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(81px, 400px);
            transform: translate(81px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(3) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 50%;
  background-color: #428c61;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  -webkit-animation: go 9s linear 4s infinite;
          animation: go 9s linear 4s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(91px, 400px);
            transform: translate(91px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(4) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 63%;
  background-color: #f9e44a;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  -webkit-animation: go 5s linear 2s infinite;
          animation: go 5s linear 2s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(169px, 400px);
            transform: translate(169px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(5) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 38%;
  background-color: #0390b2;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  -webkit-animation: go 7s linear 2s infinite;
          animation: go 7s linear 2s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(195px, 400px);
            transform: translate(195px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(6) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 18%;
  background-color: #6fbf4f;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  -webkit-animation: go 7s linear 3s infinite;
          animation: go 7s linear 3s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(22px, 400px);
            transform: translate(22px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(7) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 7%;
  background-color: #16141d;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  -webkit-animation: go 5s linear 5s infinite;
          animation: go 5s linear 5s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(174px, 400px);
            transform: translate(174px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(8) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 72%;
  background-color: #8e82e6;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -webkit-animation: go 7s linear 4s infinite;
          animation: go 7s linear 4s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(97px, 400px);
            transform: translate(97px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(9) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 98%;
  background-color: #7feef4;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -webkit-animation: go 9s linear 2s infinite;
          animation: go 9s linear 2s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(176px, 400px);
            transform: translate(176px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(10) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 91%;
  background-color: #5ab3de;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  -webkit-animation: go 5s linear 3s infinite;
          animation: go 5s linear 3s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(61px, 400px);
            transform: translate(61px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(11) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 67%;
  background-color: #ac9b81;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  -webkit-animation: go 7s linear 1s infinite;
          animation: go 7s linear 1s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(105px, 400px);
            transform: translate(105px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(12) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 8%;
  background-color: #315d92;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  -webkit-animation: go 9s linear 2s infinite;
          animation: go 9s linear 2s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(17px, 400px);
            transform: translate(17px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(13) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 42%;
  background-color: #f854fc;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -webkit-animation: go 5s linear 3s infinite;
          animation: go 5s linear 3s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(105px, 400px);
            transform: translate(105px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(14) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 48%;
  background-color: #0b4553;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -webkit-animation: go 9s linear 4s infinite;
          animation: go 9s linear 4s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(162px, 400px);
            transform: translate(162px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(15) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 96%;
  background-color: #ec3884;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  -webkit-animation: go 5s linear 5s infinite;
          animation: go 5s linear 5s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(187px, 400px);
            transform: translate(187px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(16) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 69%;
  background-color: #854824;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -webkit-animation: go 8s linear 1s infinite;
          animation: go 8s linear 1s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(79px, 400px);
            transform: translate(79px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(17) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 87%;
  background-color: #b7b9a4;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -webkit-animation: go 6s linear 2s infinite;
          animation: go 6s linear 2s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(156px, 400px);
            transform: translate(156px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(18) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 15%;
  background-color: #8be3aa;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -webkit-animation: go 5s linear 1s infinite;
          animation: go 5s linear 1s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(13px, 400px);
            transform: translate(13px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(19) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 31%;
  background-color: #ecbc5c;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -webkit-animation: go 8s linear 5s infinite;
          animation: go 8s linear 5s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(146px, 400px);
            transform: translate(146px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(20) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 41%;
  background-color: #7ac6fb;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  -webkit-animation: go 9s linear 2s infinite;
          animation: go 9s linear 2s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(33px, 400px);
            transform: translate(33px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(21) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 26%;
  background-color: #b65d09;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  -webkit-animation: go 8s linear 3s infinite;
          animation: go 8s linear 3s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(182px, 400px);
            transform: translate(182px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(22) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 20%;
  background-color: #30c7db;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  -webkit-animation: go 6s linear 3s infinite;
          animation: go 6s linear 3s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(95px, 400px);
            transform: translate(95px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(23) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 55%;
  background-color: #15e3c1;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  -webkit-animation: go 7s linear 1s infinite;
          animation: go 7s linear 1s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(145px, 400px);
            transform: translate(145px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(24) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 46%;
  background-color: #88b539;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  -webkit-animation: go 8s linear 2s infinite;
          animation: go 8s linear 2s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(157px, 400px);
            transform: translate(157px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(25) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 47%;
  background-color: #e79813;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -webkit-animation: go 6s linear 2s infinite;
          animation: go 6s linear 2s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(136px, 400px);
            transform: translate(136px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(26) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 26%;
  background-color: #07407c;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  -webkit-animation: go 9s linear 1s infinite;
          animation: go 9s linear 1s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(122px, 400px);
            transform: translate(122px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(27) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 4%;
  background-color: #d9897f;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -webkit-animation: go 7s linear 4s infinite;
          animation: go 7s linear 4s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(135px, 400px);
            transform: translate(135px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(28) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 91%;
  background-color: #c771f3;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  -webkit-animation: go 7s linear 3s infinite;
          animation: go 7s linear 3s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(198px, 400px);
            transform: translate(198px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(29) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 58%;
  background-color: #4f85e2;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  -webkit-animation: go 9s linear 4s infinite;
          animation: go 9s linear 4s infinite;
}

@keyframes go {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translate(100px, 400px);
            transform: translate(100px, 400px);
    opacity: 0;
  }
}

body .card .star:nth-child(30) {
  opacity: 1;
  position: absolute;
  top: -5px;
  left: 7%;
  background-color: #05f71a;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  -webkit-animation: go 5s linear 5s infinite;
          animation: go 5s linear 5s infinite;
}
/*# sourceMappingURL=stars.css.map */