* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  border-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #222;
}

body .container {
  width: 800px;
  height: 500px;
  border-radius: 20px;
  background: linear-gradient(100deg, #6c5f99, #5d69d6);
  position: relative;
  overflow: hidden;
}

body .container .title {
  font-size: 50px;
  font-family: 'Courier New', Courier, monospace;
  color: azure;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body .container .moon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -webkit-box-shadow: 15px 15px 1px 1px #c9e93b;
          box-shadow: 15px 15px 1px 1px #c9e93b;
  position: absolute;
  top: 5%;
  left: 5%;
}

@-webkit-keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(166px, 400px);
            transform: translate(166px, 400px);
  }
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(166px, 400px);
            transform: translate(166px, 400px);
  }
}

body .container .star:nth-child(1) {
  position: absolute;
  left: 231px;
  top: -10px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #cbc6c2;
  opacity: 0;
  -webkit-animation: gogo 16s ease 1s infinite;
          animation: gogo 16s ease 1s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(61px, 400px);
            transform: translate(61px, 400px);
  }
}

body .container .star:nth-child(2) {
  position: absolute;
  left: 111px;
  top: -10px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ab80c8;
  opacity: 0;
  -webkit-animation: gogo 20s ease 3s infinite;
          animation: gogo 20s ease 3s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(79px, 400px);
            transform: translate(79px, 400px);
  }
}

body .container .star:nth-child(3) {
  position: absolute;
  left: 399px;
  top: -10px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #4ebe3b;
  opacity: 0;
  -webkit-animation: gogo 4s ease 1s infinite;
          animation: gogo 4s ease 1s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(186px, 400px);
            transform: translate(186px, 400px);
  }
}

body .container .star:nth-child(4) {
  position: absolute;
  left: 75px;
  top: -10px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #73a986;
  opacity: 0;
  -webkit-animation: gogo 8s ease 2s infinite;
          animation: gogo 8s ease 2s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(122px, 400px);
            transform: translate(122px, 400px);
  }
}

body .container .star:nth-child(5) {
  position: absolute;
  left: 487px;
  top: -10px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #1359ad;
  opacity: 0;
  -webkit-animation: gogo 16s ease 5s infinite;
          animation: gogo 16s ease 5s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(20px, 400px);
            transform: translate(20px, 400px);
  }
}

body .container .star:nth-child(6) {
  position: absolute;
  left: 87px;
  top: -10px;
  width: 4.5px;
  height: 4.5px;
  border-radius: 50%;
  background-color: #296874;
  opacity: 0;
  -webkit-animation: gogo 8s ease 3s infinite;
          animation: gogo 8s ease 3s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(115px, 400px);
            transform: translate(115px, 400px);
  }
}

body .container .star:nth-child(7) {
  position: absolute;
  left: 272px;
  top: -10px;
  width: 1.5px;
  height: 1.5px;
  border-radius: 50%;
  background-color: #c27b7d;
  opacity: 0;
  -webkit-animation: gogo 16s ease 2s infinite;
          animation: gogo 16s ease 2s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(173px, 400px);
            transform: translate(173px, 400px);
  }
}

body .container .star:nth-child(8) {
  position: absolute;
  left: 184px;
  top: -10px;
  width: 4.5px;
  height: 4.5px;
  border-radius: 50%;
  background-color: #5f9717;
  opacity: 0;
  -webkit-animation: gogo 4s ease 5s infinite;
          animation: gogo 4s ease 5s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(128px, 400px);
            transform: translate(128px, 400px);
  }
}

body .container .star:nth-child(9) {
  position: absolute;
  left: 296px;
  top: -10px;
  width: 1.5px;
  height: 1.5px;
  border-radius: 50%;
  background-color: #c9dd71;
  opacity: 0;
  -webkit-animation: gogo 8s ease 1s infinite;
          animation: gogo 8s ease 1s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(84px, 400px);
            transform: translate(84px, 400px);
  }
}

body .container .star:nth-child(10) {
  position: absolute;
  left: 323px;
  top: -10px;
  width: 1.5px;
  height: 1.5px;
  border-radius: 50%;
  background-color: #890e04;
  opacity: 0;
  -webkit-animation: gogo 4s ease 5s infinite;
          animation: gogo 4s ease 5s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(31px, 400px);
            transform: translate(31px, 400px);
  }
}

body .container .star:nth-child(11) {
  position: absolute;
  left: 95px;
  top: -10px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #071124;
  opacity: 0;
  -webkit-animation: gogo 12s ease 3s infinite;
          animation: gogo 12s ease 3s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(70px, 400px);
            transform: translate(70px, 400px);
  }
}

body .container .star:nth-child(12) {
  position: absolute;
  left: 152px;
  top: -10px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #342eb7;
  opacity: 0;
  -webkit-animation: gogo 8s ease 2s infinite;
          animation: gogo 8s ease 2s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(196px, 400px);
            transform: translate(196px, 400px);
  }
}

body .container .star:nth-child(13) {
  position: absolute;
  left: 23px;
  top: -10px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ed7162;
  opacity: 0;
  -webkit-animation: gogo 4s ease 1s infinite;
          animation: gogo 4s ease 1s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(39px, 400px);
            transform: translate(39px, 400px);
  }
}

body .container .star:nth-child(14) {
  position: absolute;
  left: 167px;
  top: -10px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #f0bb08;
  opacity: 0;
  -webkit-animation: gogo 12s ease 2s infinite;
          animation: gogo 12s ease 2s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(185px, 400px);
            transform: translate(185px, 400px);
  }
}

body .container .star:nth-child(15) {
  position: absolute;
  left: 232px;
  top: -10px;
  width: 4.5px;
  height: 4.5px;
  border-radius: 50%;
  background-color: #01d4a3;
  opacity: 0;
  -webkit-animation: gogo 20s ease 1s infinite;
          animation: gogo 20s ease 1s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(123px, 400px);
            transform: translate(123px, 400px);
  }
}

body .container .star:nth-child(16) {
  position: absolute;
  left: 299px;
  top: -10px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #aa7c27;
  opacity: 0;
  -webkit-animation: gogo 8s ease 3s infinite;
          animation: gogo 8s ease 3s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(19px, 400px);
            transform: translate(19px, 400px);
  }
}

body .container .star:nth-child(17) {
  position: absolute;
  left: 75px;
  top: -10px;
  width: 1.5px;
  height: 1.5px;
  border-radius: 50%;
  background-color: #2369af;
  opacity: 0;
  -webkit-animation: gogo 12s ease 1s infinite;
          animation: gogo 12s ease 1s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(53px, 400px);
            transform: translate(53px, 400px);
  }
}

body .container .star:nth-child(18) {
  position: absolute;
  left: 87px;
  top: -10px;
  width: 4.5px;
  height: 4.5px;
  border-radius: 50%;
  background-color: #7e159f;
  opacity: 0;
  -webkit-animation: gogo 16s ease 3s infinite;
          animation: gogo 16s ease 3s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(19px, 400px);
            transform: translate(19px, 400px);
  }
}

body .container .star:nth-child(19) {
  position: absolute;
  left: 370px;
  top: -10px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #052da8;
  opacity: 0;
  -webkit-animation: gogo 16s ease 3s infinite;
          animation: gogo 16s ease 3s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(5px, 400px);
            transform: translate(5px, 400px);
  }
}

body .container .star:nth-child(20) {
  position: absolute;
  left: 494px;
  top: -10px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #4b94b5;
  opacity: 0;
  -webkit-animation: gogo 4s ease 5s infinite;
          animation: gogo 4s ease 5s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(127px, 400px);
            transform: translate(127px, 400px);
  }
}

body .container .star:nth-child(21) {
  position: absolute;
  left: 221px;
  top: -10px;
  width: 1.5px;
  height: 1.5px;
  border-radius: 50%;
  background-color: #947d59;
  opacity: 0;
  -webkit-animation: gogo 16s ease 1s infinite;
          animation: gogo 16s ease 1s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(177px, 400px);
            transform: translate(177px, 400px);
  }
}

body .container .star:nth-child(22) {
  position: absolute;
  left: 121px;
  top: -10px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #6b9311;
  opacity: 0;
  -webkit-animation: gogo 12s ease 3s infinite;
          animation: gogo 12s ease 3s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(158px, 400px);
            transform: translate(158px, 400px);
  }
}

body .container .star:nth-child(23) {
  position: absolute;
  left: 129px;
  top: -10px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #1a0180;
  opacity: 0;
  -webkit-animation: gogo 16s ease 1s infinite;
          animation: gogo 16s ease 1s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(28px, 400px);
            transform: translate(28px, 400px);
  }
}

body .container .star:nth-child(24) {
  position: absolute;
  left: 355px;
  top: -10px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #e0e67d;
  opacity: 0;
  -webkit-animation: gogo 8s ease 3s infinite;
          animation: gogo 8s ease 3s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(83px, 400px);
            transform: translate(83px, 400px);
  }
}

body .container .star:nth-child(25) {
  position: absolute;
  left: 77px;
  top: -10px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #7518cb;
  opacity: 0;
  -webkit-animation: gogo 8s ease 3s infinite;
          animation: gogo 8s ease 3s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(92px, 400px);
            transform: translate(92px, 400px);
  }
}

body .container .star:nth-child(26) {
  position: absolute;
  left: 414px;
  top: -10px;
  width: 1.5px;
  height: 1.5px;
  border-radius: 50%;
  background-color: #db5da2;
  opacity: 0;
  -webkit-animation: gogo 8s ease 5s infinite;
          animation: gogo 8s ease 5s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(34px, 400px);
            transform: translate(34px, 400px);
  }
}

body .container .star:nth-child(27) {
  position: absolute;
  left: 287px;
  top: -10px;
  width: 1.5px;
  height: 1.5px;
  border-radius: 50%;
  background-color: #dabe5f;
  opacity: 0;
  -webkit-animation: gogo 12s ease 1s infinite;
          animation: gogo 12s ease 1s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(192px, 400px);
            transform: translate(192px, 400px);
  }
}

body .container .star:nth-child(28) {
  position: absolute;
  left: 265px;
  top: -10px;
  width: 4.5px;
  height: 4.5px;
  border-radius: 50%;
  background-color: #5e431d;
  opacity: 0;
  -webkit-animation: gogo 20s ease 1s infinite;
          animation: gogo 20s ease 1s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(127px, 400px);
            transform: translate(127px, 400px);
  }
}

body .container .star:nth-child(29) {
  position: absolute;
  left: 430px;
  top: -10px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #5bf09a;
  opacity: 0;
  -webkit-animation: gogo 8s ease 3s infinite;
          animation: gogo 8s ease 3s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(136px, 400px);
            transform: translate(136px, 400px);
  }
}

body .container .star:nth-child(30) {
  position: absolute;
  left: 288px;
  top: -10px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #b5a95b;
  opacity: 0;
  -webkit-animation: gogo 12s ease 4s infinite;
          animation: gogo 12s ease 4s infinite;
}
/*# sourceMappingURL=stars-練習.css.map */