* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  border-radius: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #222;
}

body .container {
  width: 800px;
  height: 500px;
  border-radius: 20px;
  background: linear-gradient(100deg, #6c5f99, #5d69d6);
  position: relative;
  overflow: hidden;
}

body .container .title {
  font-size: 50px;
  font-family: 'Courier New', Courier, monospace;
  color: azure;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body .container .moon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -webkit-box-shadow: 15px 15px 1px 1px #c9e93b;
          box-shadow: 15px 15px 1px 1px #c9e93b;
  position: absolute;
  top: 5%;
  left: 5%;
}

@-webkit-keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(187px, 400px);
            transform: translate(187px, 400px);
  }
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(187px, 400px);
            transform: translate(187px, 400px);
  }
}

body .container .star:nth-child(1) {
  position: absolute;
  left: 289px;
  top: -10px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #a9b213;
  opacity: 0;
  -webkit-animation: gogo 16s ease 1s infinite;
          animation: gogo 16s ease 1s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(81px, 400px);
            transform: translate(81px, 400px);
  }
}

body .container .star:nth-child(2) {
  position: absolute;
  left: 413px;
  top: -10px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #2ccf66;
  opacity: 0;
  -webkit-animation: gogo 4s ease 4s infinite;
          animation: gogo 4s ease 4s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(119px, 400px);
            transform: translate(119px, 400px);
  }
}

body .container .star:nth-child(3) {
  position: absolute;
  left: 390px;
  top: -10px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #118e4d;
  opacity: 0;
  -webkit-animation: gogo 16s ease 3s infinite;
          animation: gogo 16s ease 3s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(33px, 400px);
            transform: translate(33px, 400px);
  }
}

body .container .star:nth-child(4) {
  position: absolute;
  left: 340px;
  top: -10px;
  width: 4.5px;
  height: 4.5px;
  border-radius: 50%;
  background-color: #b7330d;
  opacity: 0;
  -webkit-animation: gogo 4s ease 2s infinite;
          animation: gogo 4s ease 2s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(84px, 400px);
            transform: translate(84px, 400px);
  }
}

body .container .star:nth-child(5) {
  position: absolute;
  left: 441px;
  top: -10px;
  width: 4.5px;
  height: 4.5px;
  border-radius: 50%;
  background-color: #c46be4;
  opacity: 0;
  -webkit-animation: gogo 16s ease 3s infinite;
          animation: gogo 16s ease 3s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(47px, 400px);
            transform: translate(47px, 400px);
  }
}

body .container .star:nth-child(6) {
  position: absolute;
  left: 297px;
  top: -10px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #d1e2fa;
  opacity: 0;
  -webkit-animation: gogo 20s ease 1s infinite;
          animation: gogo 20s ease 1s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(149px, 400px);
            transform: translate(149px, 400px);
  }
}

body .container .star:nth-child(7) {
  position: absolute;
  left: 443px;
  top: -10px;
  width: 4.5px;
  height: 4.5px;
  border-radius: 50%;
  background-color: #b7a157;
  opacity: 0;
  -webkit-animation: gogo 4s ease 4s infinite;
          animation: gogo 4s ease 4s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(186px, 400px);
            transform: translate(186px, 400px);
  }
}

body .container .star:nth-child(8) {
  position: absolute;
  left: 122px;
  top: -10px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #195e9c;
  opacity: 0;
  -webkit-animation: gogo 12s ease 4s infinite;
          animation: gogo 12s ease 4s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(58px, 400px);
            transform: translate(58px, 400px);
  }
}

body .container .star:nth-child(9) {
  position: absolute;
  left: 2px;
  top: -10px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #4c9e3a;
  opacity: 0;
  -webkit-animation: gogo 12s ease 2s infinite;
          animation: gogo 12s ease 2s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(169px, 400px);
            transform: translate(169px, 400px);
  }
}

body .container .star:nth-child(10) {
  position: absolute;
  left: 212px;
  top: -10px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #174e2a;
  opacity: 0;
  -webkit-animation: gogo 16s ease 1s infinite;
          animation: gogo 16s ease 1s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(13px, 400px);
            transform: translate(13px, 400px);
  }
}

body .container .star:nth-child(11) {
  position: absolute;
  left: 44px;
  top: -10px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #34ae26;
  opacity: 0;
  -webkit-animation: gogo 20s ease 5s infinite;
          animation: gogo 20s ease 5s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(73px, 400px);
            transform: translate(73px, 400px);
  }
}

body .container .star:nth-child(12) {
  position: absolute;
  left: 366px;
  top: -10px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #569e14;
  opacity: 0;
  -webkit-animation: gogo 4s ease 2s infinite;
          animation: gogo 4s ease 2s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(9px, 400px);
            transform: translate(9px, 400px);
  }
}

body .container .star:nth-child(13) {
  position: absolute;
  left: 52px;
  top: -10px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #4c8724;
  opacity: 0;
  -webkit-animation: gogo 20s ease 4s infinite;
          animation: gogo 20s ease 4s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(85px, 400px);
            transform: translate(85px, 400px);
  }
}

body .container .star:nth-child(14) {
  position: absolute;
  left: 140px;
  top: -10px;
  width: 1.5px;
  height: 1.5px;
  border-radius: 50%;
  background-color: #0fd18f;
  opacity: 0;
  -webkit-animation: gogo 16s ease 1s infinite;
          animation: gogo 16s ease 1s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(137px, 400px);
            transform: translate(137px, 400px);
  }
}

body .container .star:nth-child(15) {
  position: absolute;
  left: 468px;
  top: -10px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ed3b8b;
  opacity: 0;
  -webkit-animation: gogo 8s ease 5s infinite;
          animation: gogo 8s ease 5s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(100px, 400px);
            transform: translate(100px, 400px);
  }
}

body .container .star:nth-child(16) {
  position: absolute;
  left: 8px;
  top: -10px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #67d883;
  opacity: 0;
  -webkit-animation: gogo 8s ease 4s infinite;
          animation: gogo 8s ease 4s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(170px, 400px);
            transform: translate(170px, 400px);
  }
}

body .container .star:nth-child(17) {
  position: absolute;
  left: 18px;
  top: -10px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #6b385d;
  opacity: 0;
  -webkit-animation: gogo 16s ease 2s infinite;
          animation: gogo 16s ease 2s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(72px, 400px);
            transform: translate(72px, 400px);
  }
}

body .container .star:nth-child(18) {
  position: absolute;
  left: 500px;
  top: -10px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #c3f750;
  opacity: 0;
  -webkit-animation: gogo 12s ease 2s infinite;
          animation: gogo 12s ease 2s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(5px, 400px);
            transform: translate(5px, 400px);
  }
}

body .container .star:nth-child(19) {
  position: absolute;
  left: 401px;
  top: -10px;
  width: 4.5px;
  height: 4.5px;
  border-radius: 50%;
  background-color: #995cff;
  opacity: 0;
  -webkit-animation: gogo 16s ease 4s infinite;
          animation: gogo 16s ease 4s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(54px, 400px);
            transform: translate(54px, 400px);
  }
}

body .container .star:nth-child(20) {
  position: absolute;
  left: 383px;
  top: -10px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #7438f6;
  opacity: 0;
  -webkit-animation: gogo 4s ease 2s infinite;
          animation: gogo 4s ease 2s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(86px, 400px);
            transform: translate(86px, 400px);
  }
}

body .container .star:nth-child(21) {
  position: absolute;
  left: 494px;
  top: -10px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #7ca55a;
  opacity: 0;
  -webkit-animation: gogo 8s ease 4s infinite;
          animation: gogo 8s ease 4s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(47px, 400px);
            transform: translate(47px, 400px);
  }
}

body .container .star:nth-child(22) {
  position: absolute;
  left: 445px;
  top: -10px;
  width: 4.5px;
  height: 4.5px;
  border-radius: 50%;
  background-color: #4d06e4;
  opacity: 0;
  -webkit-animation: gogo 4s ease 1s infinite;
          animation: gogo 4s ease 1s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(177px, 400px);
            transform: translate(177px, 400px);
  }
}

body .container .star:nth-child(23) {
  position: absolute;
  left: 278px;
  top: -10px;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #16ff23;
  opacity: 0;
  -webkit-animation: gogo 12s ease 2s infinite;
          animation: gogo 12s ease 2s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(164px, 400px);
            transform: translate(164px, 400px);
  }
}

body .container .star:nth-child(24) {
  position: absolute;
  left: 146px;
  top: -10px;
  width: 1.5px;
  height: 1.5px;
  border-radius: 50%;
  background-color: #651455;
  opacity: 0;
  -webkit-animation: gogo 12s ease 3s infinite;
          animation: gogo 12s ease 3s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(176px, 400px);
            transform: translate(176px, 400px);
  }
}

body .container .star:nth-child(25) {
  position: absolute;
  left: 351px;
  top: -10px;
  width: 4.5px;
  height: 4.5px;
  border-radius: 50%;
  background-color: #3739d8;
  opacity: 0;
  -webkit-animation: gogo 4s ease 3s infinite;
          animation: gogo 4s ease 3s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(200px, 400px);
            transform: translate(200px, 400px);
  }
}

body .container .star:nth-child(26) {
  position: absolute;
  left: 65px;
  top: -10px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #679645;
  opacity: 0;
  -webkit-animation: gogo 8s ease 3s infinite;
          animation: gogo 8s ease 3s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(172px, 400px);
            transform: translate(172px, 400px);
  }
}

body .container .star:nth-child(27) {
  position: absolute;
  left: 252px;
  top: -10px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #0dd2b3;
  opacity: 0;
  -webkit-animation: gogo 20s ease 4s infinite;
          animation: gogo 20s ease 4s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(154px, 400px);
            transform: translate(154px, 400px);
  }
}

body .container .star:nth-child(28) {
  position: absolute;
  left: 428px;
  top: -10px;
  width: 4.5px;
  height: 4.5px;
  border-radius: 50%;
  background-color: #1f6774;
  opacity: 0;
  -webkit-animation: gogo 4s ease 5s infinite;
          animation: gogo 4s ease 5s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(142px, 400px);
            transform: translate(142px, 400px);
  }
}

body .container .star:nth-child(29) {
  position: absolute;
  left: 210px;
  top: -10px;
  width: 1.5px;
  height: 1.5px;
  border-radius: 50%;
  background-color: #cf47a3;
  opacity: 0;
  -webkit-animation: gogo 8s ease 1s infinite;
          animation: gogo 8s ease 1s infinite;
}

@keyframes gogo {
  0% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(89px, 400px);
            transform: translate(89px, 400px);
  }
}

body .container .star:nth-child(30) {
  position: absolute;
  left: 327px;
  top: -10px;
  width: 1.5px;
  height: 1.5px;
  border-radius: 50%;
  background-color: #0b4414;
  opacity: 0;
  -webkit-animation: gogo 8s ease 4s infinite;
          animation: gogo 8s ease 4s infinite;
}
/*# sourceMappingURL=stars-練習.css.map */