html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;

  .swiper-container {
    width: 100%;
    height: 100%;
    
    &:hover {

      .swiper-button-prev,
      .swiper-button-next {
        opacity: 1;
      }
    }
    .swiper-pagination{
      position: relative;
      top: -30px;


      
      .btn{
        width: 30px;
        height: 30px;
        margin-right: 1em;

        &:hover{          
          ~.pause{
            visibility:visible;
          }
        }
      }
      .pause{
        visibility: hidden;
      }
    }  

    

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */

      display: flex;

      justify-content: center;

      align-items: center;


    }


    .swiper-button-prev,
    .swiper-button-next {
      opacity: 0;
    }
  }

}