@import '_template.scss';



$btn-yellow : rgb(164, 167, 0);
$btn-yellow-lighten : lighten($btn-yellow, 20%);

$base-color: #036;

.block{
    @include size(1000px, 500px);
    background-color: aqua;

    .box{
        @include size(200px, 100px);
        @include flex(center, center);
        border: 1px solid black;


        .btn{
            @include size(100px, 20px);
            background-color: $btn-yellow;   
            
            &:hover {
                background-color: $btn-yellow-lighten;
            }
        }    
    }
    &:hover {
        .box{
            background-color: brown;
        }
    } 

    @for $i from 1 through 3 {
        ul:nth-child(#{$i}) {
          background-color: green;
        }
    }
}